#box{
    width:100px;
    height:100px;
    background-color:aqua;
    position:relative;
    left:0;
    top:0;
    text-align:center;
    padding-top:15px;
    border:2px solid black;
}

button{
    margin:3px;
}